body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

ul, li {
    list-style: none;
    padding: 0;
}
button {
    border: none;
    padding: 0;
    background: transparent;
    font: inherit;
    cursor: pointer
}
.subhead {
    color: #9e9e9e;
    font-size: 12px;
    margin-top: 16px;
}

.hint--styled {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.hint--styled:after {
    box-shadow: none !important;
    font-weight: bold !important;
    font-size: 11px !important;
}

.toggle-open,
.toggle-close {
    background-image: url('toggle.png');
    height: 42px;
    width: 22px;
    background-size: 44px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 20px;
    margin-top: 2px;
    margin-left: 20px;
}

.toggle-open {
    background-position: center left;
}
.toggle-close {
    background-position: center right;
}

.map-container-element {
    height: 500px; /* TODO fallback */
    height: calc(100vh - 46px);
}

.marker-icon {
    position: relative;
    top: -2px;
    margin-right: 2px;
    height: 20px;
    width: 20px;
    background-size: 110px auto;
    display: inline-block;
    background-image: url('sprite.png');
    float: left;
}
.marker-icon-corporate {
    background-position: 0 0;
}
.marker-icon-salesOffices {
    background-position: -132px 0;
}
.marker-icon-salesStaff {
    background-position: -44px 0;
}
.marker-icon-packagingFacility {
    background-position: -176px 0;
}
.marker-icon-manufacturingFacility {
    background-position: -88px 0;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
    background-clip: padding-box;
    border: solid transparent;
    border-width: 1px 1px 1px 6px;
    min-height: 28px;
    padding: 100px 0 0;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
}
::-webkit-scrollbar{height:16px;overflow:visible;width:16px}
::-webkit-scrollbar-button{height:0;width:0}
::-webkit-scrollbar-track{background-clip:padding-box;border:solid transparent;border-width:0 0 0 4px}
::-webkit-scrollbar-track:horizontal{border-width:4px 0 0}
::-webkit-scrollbar-track:hover{background-color:rgba(0,0,0,.05);}
